body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: beige;
    box-shadow: 0 0  10px black;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: rgb(4, 16, 66);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #2f55a8;
}

.expense-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.expense-table th, .expense-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.expense-table th {
    background-color: #f8f8f8;
}

.total-amount {
    text-align: right;
    font-size: 18px;
}

.filter {
    margin-bottom: 20px;
    text-align: right;
}

.filter label {
    margin-right: 10px;
}

.filter select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.delete-btn {
    background-color: rgb(177, 48, 48);
    color: black;
    border-radius: 4px;
    font-weight: bold;
}

.edit-btn {
    background-color: rgb(238, 234, 10);
    color: black;
    border-radius: 4px;
    font-weight: bold;
}


.delete-btn:hover {
    background-color: rgb(185, 98, 98);
}

.edit-btn:hover {
    background-color: rgb(230, 230, 99);
}